.form-free-canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-image: url('../../assets/formFree.png');
  max-width: 1221px;
  height: 221px;
  border-radius: 5px;
  margin: auto;
}

.form-free-canvas h5 {
  width: 516px;
  height: 28px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;

  /* identical to box height */

  color: #001A33;

  margin: 0 85px;
}

.form-free-canvas h5 a {
  color: #4169C1;
  text-decoration: 0;
}

.form-free-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  margin: 0 85px;
}

.form-free-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 789px;
}

.form-free-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-free-field input {
  width: 235px;
  height: 45px;

  background: #FFFFFF;
  border: 1px solid #E7ECF3;
  box-sizing: border-box;
  border-radius: 5px;
}

#form-free_input-2 {
  width: 278px;
}

.form-free-canvas  button {
  width: 235px;
  height: 50px;
}