.contacts-canvas {
  max-width: 1600px;
  padding: 0 calc(50% - 800px);
  height: 442px;
  background: #4169C1;
  color: #fff;
  display: flex;
}

.contacts-body {
  max-width: 249px;
  width: 100%;
  margin: 0 200px;
}

.contacts-body h2 {
  width: 168px;
  height: 44px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: initial;
  margin: 61px 0 23.99px 0;

  /* identical to box height */

}

.contacts-body h4 {
  text-align: initial;
  margin: 12px 0 29px 0;
}

.contacts-row {
  display: flex;
  flex-direction: row;
}

.contacts-row span {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: initial;
  max-width: 103px;
  width: 100%;
}

.contacts-column {
  display: flex;
  flex-direction: column;

  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: initial;

  opacity: 0.7;
}

.contacts-column div {
  margin: 0 0 16px 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  max-width: 106px;
  width: 100%;
}

.icons .icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icons .icon-message {
  background-image: url('../../assets/message.png');
}

.icons .icon-phone {
  background-image: url('../../assets/phone.png');
}

.icons .icon-mail {
  background-image: url('../../assets/mail.png');
}

@media screen and (max-width: 700px) {
  .contacts-canvas {
    max-width: 700px;
    padding: 0 calc(50% - 800px);
    height: 505px;
    margin: 184px 0 0 0;
  }

  .contacts-body {
    margin: 0 40px;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}