.form-question-canvas {
  width: 718px;
  height: 419px;

  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #000;
  position: relative;
  bottom: 34px;
  right: 42px;
}

.form-question-canvas H5 {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: initial;
  /* identical to box height */
  margin: 41px auto 21px 76px;
}

.form-question-canvas button {
  width: 278px;
  height: 50px;
  border-radius: 23.5px;

  font-family: Geometria;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
}

.form-question-body {
  display: flex;
  margin: 0 57px 0 76px;
}

.form-question-message {
  display: flex;
  flex-direction: column;
}

.form-question-body .form-question-fields {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

.form-question-body .form-question-fields .form-question-field {
  display: flex;
  flex-direction: inherit;
  text-align: initial;
}

.form-question-body .form-question-fields .form-question-field_checkbox {
  display: flex;
  flex-direction: row;
  text-align: initial;
}

.form-question-body .form-question-fields .form-question-field label {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;

  color: #101010;

  margin: 10px 0 0 0;
}

.form-question-body .form-question-fields .form-question-field input {
  width: 278px;
  height: 45px;

  background-color: #EEF2F9;
  border: 1px solid #E7ECF3;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-question-body .form-question-fields .form-question-field_checkbox label {
  width: 219px;
  height: 30px;

  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #10101066;
  margin: 23px 0 0 0;
}

.form-question-body .form-question-fields .form-question-field_checkbox label a {
  color: #101010;
  text-decoration: underline;
}

.form-question-body .form-question-fields .form-question-field_checkbox input {
  width: auto;
}

.form-question-body .form-question-message {
  margin: 0 0 0 29px;
}

.form-question-body .form-question-message label {
  font-family: Geometria;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: initial;

  /* identical to box height */

  color: #001A33;
}

.form-question-body .form-question-message textarea {
  max-width: 278px;
  height: 195px;
  resize: none;

  background: #EEF2F9;
  border: 1px solid #E7ECF3;
  box-sizing: border-box;
  border-radius: 5px;
  
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */

  color: rgba(16, 16, 16, 0.4);

  margin: 0 0 22px 0;
}

@media screen and (max-width: 700px) {
  .form-question-canvas {
    width: 360px;
    height: 592px;
    top: 38px;
    right: 19px;
  }

  .form-question-body {
    flex-direction: column;
    max-width: 278px;
    width: 100%;
    margin: auto;
  }
  
  .form-question-body .form-question-message {
    margin: 0;
  }

  .form-question-body .form-question-message textarea {
    width: 278px;
    height: 143px;
  }

  .form-question-canvas H5 {
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: initial;
    margin: 30px 0 21px 40px;
  }

  #mobile.form-question-field_checkbox label {
    width: 219px;
    height: 30px;
  
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  
    color: #10101066;
  }
  
   #mobile.form-question-field_checkbox label a {
    color: #101010;
    text-decoration: underline;
  }

  button {
    margin: 0 0 12px 0;
  }
}
  