.benefits-canvas {
  max-width: 1600px;
  height: 467px;
}

.benefits-canvas h3 {
  margin: 79px 0 13.96px 0;
}

.benefits-body {
  display: flex;
  flex-wrap: wrap;
}

.benefit {
  max-width: 533.33px;
  width: 100%;
  display: flex;
}

.benefit .benefit-img {
  width: 70px;
  height: 70px;
  margin: 0 33px 0 0;
}

.benefit .benefit-img .benefit-img-prime {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(65, 105, 193, 0.2);
  margin: 12px;
}

.benefit .benefit-desc {
  max-width: 277px;
  width: 100%;
  text-align: initial;
}

.benefit .benefit-desc h4 {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;

  margin: 30px 0 3px 0;
}

.benefit .benefit-desc article {  
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.7;
}

.eco {
  background-image: url('../../assets/eco.png');
}

.exp {
  background-image: url('../../assets/exp.png');
}

.pay {
  background-image: url('../../assets/pay.png');
}

.opr {
  background-image: url('../../assets/opr.png');
}

.ser {
  background-image: url('../../assets/ser.png');
}

.qua {
  background-image: url('../../assets/qua.png');
}