.about-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F8FF;
  height: 908px;
  max-width: 1600px;
  padding: 0 calc(50% - 800px);
}

.about-canvas h3 {
  width: 335px;
  height: 44px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: start;

  margin: 81px auto 49.99px 200px;

  /* identical to box height */

  color: #001A33;
}

.about-body {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.about-body .about-desc {
  max-width: 585px;
  width: 100%;
  height: 588px;
  background-color: #4169C1;
}

.about-body .about-desc .about-content {
  margin: 0 73px;
}

.about-body .about-desc h4 {
  width: 297px;
  height: 28px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: initial;
}

.about-body .about-desc .about-content article {
  width: 441px;

  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 156.46%;
  text-align: initial;

  opacity: 0.7;
  margin: 0 0 15px 0;
}

.about-body .about-desc .img-backway {
  width: 585px;
  height: 330px;
  background-image: url('../../assets/backway.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  mix-blend-mode: screen;
  position: absolute;
  z-index: 1;
}

.about-body .about-desc .about-content .docs {
  display: flex;
}

.docs .img-doc-first {
  width: 132px;
  height: 185px;
  background-image: url('../../assets/doc-1.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  margin: 0 23px 0 0;
}

.docs .img-doc-second {
  width: 132px;
  height: 185px;
  background-image: url('../../assets/doc-2.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

.about-body .img-farway {
  width: 615px;
  height: 441px;
  background-image: url('../../assets/farway.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media screen and (max-width: 700px) {
  .about-canvas h3 {
    margin: 70px auto 26.97px 40px; /*/466.97px*/ 
  }

  .about-body {
    flex-direction: column;
    width: 100%;
  }

  .about-body .about-desc {
    position: absolute;
    max-width: 620px;
    margin: 0 0 292px 0;
    z-index: 1;
  }

  .about-body .img-farway {
    width: 100%;
    margin: 440px 0 0 0;
  }

  .about-body .about-desc .img-backway {
    width: 620px;
    height: 330px;
    background-size: 100%;
    position: absolute;
    z-index: 1;
    margin: -68px 0 0 -73px;
  }
}

@media screen and (max-width: 320px) {
  .about-canvas {
    max-width: 320px;
    height: 925px;
    padding: 0 9px 0 9px;
  }

  .about-canvas h3 {
    margin: 62px auto 24.98px 0;
    max-width: 320px;
    width: 100%;
    
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
  }

  .about-body {
    height: 739px;
  }

  .about-body .about-desc h4 {
    max-width: 243px;
    margin: 42px 0 12px 0;
    height: auto;
  }

  .about-body .about-desc {
    max-width: 298px;
    margin: 0 0 80px 0;
    height: 660px;
  }

  .about-body .about-desc .img-backway {
    width: 298px;
    background-size: 190%;
  }

  .about-body .about-desc .about-content {
    margin: 0 28px 0 31px;
  }

  .about-body .about-desc .about-content article {
    max-width: 243px;
    margin: 0 0 32px 0;

    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 156.46%;
  }

  .about-body .about-desc .img-backway {
    margin: -112px 0 0 -31px;
  }

  .docs .img-doc-first, .docs .img-doc-second {
    width: 110px;
    height: 155px;
  }

  .about-body .img-farway {
    margin: 490px 0 0 0;
    max-width: 320px;
    width: 106%;
    height: 250px;
    background-size: 100% 100%;
  }
}