.geo-canvas {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 1600px;
  padding: 0 calc(50% - 800px);
  height: 588px;
  margin: 0 0 0 200px;
}

.geo-body {
  display: flex;
  flex-direction: column;
  max-width: 484px;
}

.geo-body article {
  display: flex;
  align-items: flex-end;

  text-align: left;
  width: 484px;
  height: 225px;

  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 156.46%;
  opacity: 0.7;
}

.geo-body h5 {
  display: flex;

  text-align: left;
  width: 483px;
  height: 99px;

  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150.52%;

  /* or 33px */

  color: #001A33;
  margin: 0;
}

.geo-body h3 {
  display: flex;
  align-items: flex-end;

  text-align: left;
  width: 298px;
  height: 44px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;

  /* identical to box height */

  color: #001A33;

  transform: rotate(0deg);
  margin: 75px 0 22.98px 0;
}

.geo-img {
  width: 788px;
  height: 495px;
  background-image: url('../../assets/map.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  filter: drop-shadow(0px 4px 32px rgba(65, 105, 193, 0.1));
  margin: 104px 0 0 0;
}

@media screen and (max-width: 700px) {
  .geo-canvas {
    max-width: 700px;
    width: 100%;
    height: 991px;
    padding: 0 calc(50% - 350px);
    margin: 0;
    flex-direction: column;
  }
  
  .geo-body {
    max-width: 659px;
    width: 100%;
  }

  .geo-body h3 {
    margin: 174px 0 22.98px 0;
  }

  .geo-img {
    width: 644px;
    height: 405px;
    margin: 0;
  }
}