.portfolio-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F8FF;
  max-width: 1600px;
  height: 744px;
  padding: 0 calc(50% - 800px);
}

.portfolio-canvas h3 {
  max-width: 1199.98px;
  width: 100%;
  height: 44px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;

  /* identical to box height */
  text-align: center;
}

.portfolio-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  width: 100%;
}

.case {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.case-img {
  width: 408px;
  height: 540px;
  left: 273px;
  top: 1354px;

  background: url('../../assets/case.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

.case-desc {
  color: #fff;
  width: 647px;
  height: 445px;

  /* Цвет/основной */
  background: #4169C1;
}

.case-desc-border {
  margin: 40px 34.5px 83px 30px;
}

.case-desc h4 {
  height: 28px;
  left: 713px;
  top: 1431px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: initial;
  margin: 40px auto 0 0;
}

.case-desc .subtitle {
  max-width: 481px;
  height: 50px;

  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 156.46%;
  text-align: initial;
  margin: 9px 0 29px 0;
  opacity: 0.7;

  /* or 25px */
}

.case-desc h5 {
  width: 202px;
  height: 23px;

  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: initial;
  margin: 29px 0 17px 0;
}

.case-desc .list {
  display: flex;
  flex-direction: row;
  float: inline-end;
  width: 100%;
  margin: 0;
  
}

#row-0 {
  margin: 0 32.5px 22px 0;
}

.li-col {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.li-col span {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  margin: 0 0 17px 0;
}

.img-check {
  background-image: url('../../assets/check.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  width: 24px;
  height: 24px;
  margin: 0 8.75px 0 0;
}

.portfolio-button button {
  width: 410px;
  height: 70px;
  border-radius: 37.5px;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  font-family: Geometria;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.left-arrow {
  width: 29px;
  height: 61px;
  margin: 0 48px;
  background: url('../../assets/arrow.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

.right-arrow {
  width: 29px;
  height: 61px;
  margin: 0 48px;
  background: url('../../assets/arrow.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  transform: rotate(180deg);
}

#laptop {
  display: initial;
}

#mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .portfolio-canvas {
    height: 1042px;
  }

  #laptop {
    display: none;
  }

  #mobile {
    display: flex;
  }

  .arrows-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .case {
    flex-direction: column;
  }

  .portfolio-body {
    max-width: 620px;
    display: flex;
    flex-direction: column;
  }

  .left-arrow, .right-arrow {
    margin: 40px 0;
  }

  .case-desc, .case-img, .arrows-group   {
    width: 100%;
  }

  .case-img {
    background-image: url('../../assets/case700.png');
    height: 340px;
  }
}


@media screen and (max-width: 320px) {
  .portfolio-canvas  {
    max-width: 320px;
    height: 960px;
  }

  .portfolio-canvas h3 {
    width: 297.58px;
    height: 33px;
    left: 12px;
    top: 1677.02px;

    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;

    /* identical to box height */
    text-align: center;

    color: #001A33;
  }

  .case-img {
    width: 298px;
    height: 220px;
  }

  .case-desc {
    width: 298px;
    height: 500px;
  }

  .case-desc .list {
    flex-direction: column
  }

  .case-desc-border {
    margin: 30px 34.5px 83px 30px;
  }

  .case-desc h4 {
    margin: 30px auto 0 0;
  }

  #row-0 {
    margin: 0;
  }

  button {
    width: 235px !important;
    height: 70px !important;
    margin: 29px 0 32px 0;
  }

  .arrows-group {
    margin: 0 12px;
    max-width: 298px;
  }
}
