.baner-canvas {
  background: linear-gradient(180.18deg, rgba(0, 26, 51, 0) 66.21%, rgba(0, 26, 51, 0.8) 99.84%), linear-gradient(0deg, rgba(0, 27, 52, 0.6), rgba(0, 27, 52, 0.6));
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  background-image: url('../../assets/traneWay.png');
  color: #fff;
  max-width: 1600px;
  padding: 0 calc(50% - 800px);
  height: 488px;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.baner-canvas h3 {  
  width: 846.93px;
  height: 110px;

  font-family: Geometria;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.015em;

  /* Цвет / белый */
  color: #FFFFFF;

  transform: rotate(0deg);
  
  margin: 109px 0 6.93px 0;
}

.baner-canvas h5 {
  width: 585px;
  height: 56px;

  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 156.46%;

  /* or 28px */
  text-align: center;

  color: #FFFFFF;

  margin: 0;
}

.form-container {
  max-width: 1600px;
  width: 100%;

  position: absolute;
  top: 411px;
}

@media screen and (max-width: 700px) {
  .baner-canvas {
    height: 687px;
  }
  
  .baner-canvas h3 {
    max-width: 619.11px;
    width: 100%;
    height: auto;

    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.015em;
  }

  .baner-canvas h5 {
    max-width: 460px;
    width: 100%;
    height: auto;
  }

  .form-container {
    top: 444px;
  }
}